style.css,
body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.ciao {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

.title2 {
    font-family: Verdana, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

.title3 {
    font-family: Verdana, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: center;
}

.image {
    margin: auto;
    text-align: center;
    display: block;
}